<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index-style.css' />
  </head>
  <body>

    <header class="app-header">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>

    <a class="button" href="/new"> Add Message</a>

    <% messages.forEach(function(message){ %>
      <div class="message-div">
        <div class="info-div">
          <h4><%= message.user %></h4>
          <p><%= message.added.toString().slice(0, 24) %></p>
        </div>
        <p class="message-para"><%= message.text %></p>
      </div> 
   <% }) %>

  </body>
</html>
